:root {
  --background-color-main: #dbfdff;
  --background-color-secondary: #f0e7e8;
  --text-color: #0a102c;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  padding: 0;
  margin: 0;

  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: var(--text-color);
}

li,
p,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

ul {
  list-style: disc;
}

.title {
  font-size: 32px;
}

.section {
  width: 90vw;
  margin: 0px auto;
  display: flex;
}

.left-side {
  background-color: var(--background-color-main);
  flex: 0 0 30vw;
  padding: 10px;
}

.right-side {
  background-color: var(--background-color-secondary);
  padding: 10px;
}

.contact-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.list-item {
  display: flex;
  align-items: center;
}

.code {
  background-color: gray;
}

.header {
  background-color: #dbfdff;
  display: inline;
}
