:root {
  --background-color-main: #fffefa;
  --background-color-secondary: #f0e7e8;
  --accent-color: #e39ea6;
  --text-color: #21201e;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  padding: 0;
  margin: 0;

  font-size: 18px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  color: var(--text-color);
}

li,
p,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition-duration: 300ms;
}

a:hover {
  color: var(--accent-color);
  border-bottom: solid 1px var(--accent-color);
  cursor: pointer;
}

ul {
  list-style: disc;
  margin: 0 0 20px 0;
  padding: 0 0 0 20px;
}

.title {
  margin: 20px 10px 40px 40px;
  font-size: 48px;
  font-weight: 800;
}

.section-title {
  margin-bottom: 20px;
  padding-bottom: 5px;
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;

  border-bottom: 2px solid var(--accent-color);
}

.subsection-title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.section {
  margin: 0px 40px 80px 40px;
}

.container {
  display: flex;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

/* HEADER */

.header {
  display: flex;
  justify-content: flex-end;
  max-width: 1440px;
  height: 80px;
  background-color: var(--background-color-main);
}

.navigation {
  display: flex;
  justify-content: flex-end;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;

  list-style: none;
}

.nav-item {
  /* align-self: center; */
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* .nav-item:last-child {
  padding-right: 0px;
} */

.nav-item-link {
  text-transform: capitalize;
}

/* LEFT SIDE */

.left-side {
  background-color: var(--background-color-main);
  /* flex: 0 0 30vw; */
}

.contact-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.list-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.list-item a:hover {
  text-decoration: none;
}

/*  PROFILE */
.profile {
  display: flex;
  flex-direction: column;
}

.photo {
  margin: 20px auto;
  /* align-self: center; */
}

/* RIGHT SIDE */

.right-side {
  background-color: var(--background-color-secondary);
}

.code {
  background-color: gray;
}

/* FOOTER */

.github {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.footer {
  display: flex;
  max-width: 1440px;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;

  background-color: var(--background-color-main);
}

.rs-logo {
  width: 80px;
  margin: 20px 10px;
}

.svg-icon {
  width: 28px;
  height: 28px;
  margin-right: 10px;
  transition-duration: 500ms;
}

.svg-icon:hover {
  fill: var(--accent-color);
}

.footer p {
  font-size: 14px;
}
