:root {
  --background-color-main: #dbfdff;
  --background-color-secondary: #f0e7e8;
  --text-color: #21201e;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  padding: 0;
  margin: 0;

  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: var(--text-color);
}

li,
p,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition-duration: 300ms;
}

a:hover {
  color: #e39ea6;
  border-bottom: solid 1px #e39ea6;
}

ul {
  list-style: disc;
}

.title {
  font-size: 32px;
}

.section-title {
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
}

.section {
  margin: 50px 10px;
}

.content {
  display: flex;
  max-width: 1440px;
  margin: 0px auto;
}

.left-side {
  background-color: var(--background-color-main);
  flex: 0 0 30vw;
  padding: 10px;
}

.right-side {
  background-color: var(--background-color-secondary);
  padding: 10px;
}

.contact-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.list-item {
  display: flex;
  align-items: center;
}

.code {
  background-color: gray;
}

.header {
  background-color: #dbfdff;
  display: inline;
  height: 80px;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-item-link {
  padding: 5px 5px 5px 0;
  text-transform: capitalize;
}
